.modal {
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
   
    animation-name: fadeBackground;
    animation-duration: 0.5s;
}

@keyframes fadeBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid red;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    animation-name: animateModal;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

@keyframes animateModal {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.close-modal-icon {
    cursor: pointer;
    font-size: 40px;
    float: right;
    font-weight: bold;
}

.header {
    padding-right: 4px 16px;
    background-color: #5cb85c;
    color: white;
}

.body {
    padding: 2px 15px;
    background-color: #2fa72f;
    height: 200px;
    color: white;
}

.footer {
    padding: 2px 16px;
    background-color: #179317;
    color: white;
}
